<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title in The Head</title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p>Please contact us if you have any suggestion, question!</p>
  </body>
  <footer>Copyright All Reserved for Html</footer>
</html>
