  <!DOCTYPE html>
    <html>
      <body>
        <h1>{{pageTitle}}</h1>
        {{> header}}
        <h2> WORKING Welcome, It's {{date}}</h2>
        <p>{{screamIt 'welcomeMessage'}}</p>
        <p>some text here</p>

        {{> footer}}
      </body>
    </html>
